<!DOCTYPE HTML>
<html>
<head>
    <title>Deutsche Bank AG - Wunschkredit online</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Scripts/jquery-1.11.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Necessary for Digy Template-->
    <script src="~/Scripts/jquery-1.8.0.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.touchwipe.1.1.1.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.carouFredSel-5.5.0-packed.js" type="text/javascript"></script>
    <script src="~/Scripts/functions.js" type="text/javascript"></script>
    <!-- Custom Theme files -->
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Advice Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" type="text/css" media="all">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:900,800,700,600" type="text/css" media="all">

    <link href="~/Content/css/ion.rangeSlider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/ion.rangeSlider.skinHTML5.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
    <!--header start here-->
    <
    <div class="wrapper">
        <div class="header-top" id="header">
            <div class="shell">


                <div class="header">
                    <h1>Infinitus Bank <br></h1><h3>in association with <a href="@Url.Action("Index","Home")">Deutsche Bank AG</a></h3>

                </div>
            </div>
            </div>


        </div>

        <div class="header">
            <div class="slider">
                <div id="bg"></div>
                <div id="carousel">
                    <div>
                        <h5>It all starts with a</h5>
                        <h3>Great Vision</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget augue quis quam dignissim consectetur ac sit amet nisl. In hac habitasse platea. Eget augue quis quam dignissi lorem lipsum adispicing dolor sit amet.</p>
                        <a href="#" class="green-btn">FREE Quote</a>
                        <img class="img-front" src="/Content/css/images/front-img.png" alt="dot1" width="263" height="436" />
                        <img class="img-mid" src="/Content/css/images/img-mid.png" alt="dot2" width="230" height="363" />
                        <img class="img-back" src="/Content/css/images/img-back.png" alt="dot3" width="195" height="304" />
                    </div>
                    <div>
                        <h5>It all starts with a</h5>
                        <h3>Great Vision</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget augue quis quam dignissim consectetur ac sit amet nisl. In hac habitasse platea. Eget augue quis quam dignissi lorem lipsum adispicing dolor sit amet.</p>
                        <a href="#" class="green-btn">FREE Quote</a>
                        <img class="img-front" src="/Content/css/images/front-img.png" alt="dot1" width="263" height="436" />
                        <img class="img-mid" src="/Content/css/images/img-mid.png" alt="dot2" width="230" height="363" />
                        <img class="img-back" src="/Content/css/images/img-back.png" alt="dot3" width="195" height="304" />
                    </div>
                    <div>
                        <h5>It all starts with a</h5>
                        <h3>Great Vision</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget augue quis quam dignissim consectetur ac sit amet nisl. In hac habitasse platea. Eget augue quis quam dignissi lorem lipsum adispicing dolor sit amet.</p>
                        <a href="#" class="green-btn">FREE Quote</a>
                        <img class="img-front" src="/Content/css/images/front-img.png" alt="dot1" width="263" height="436" />
                        <img class="img-mid" src="/Content/css/images/img-mid.png" alt="dot2" width="230" height="363" />
                        <img class="img-back" src="/Content/css/images/img-back.png" alt="dot3" width="195" height="304" />
                    </div>
                    <div>
                        <h5>It all starts with a</h5>
                        <h3>Great Vision</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget augue quis quam dignissim consectetur ac sit amet nisl. In hac habitasse platea. Eget augue quis quam dignissi lorem lipsum adispicing dolor sit amet.</p>
                        <a href="#" class="green-btn">FREE Quote</a>
                        <img class="img-front" src="/Content/css/images/front-img.png" alt="dot1" width="263" height="436" />
                        <img class="img-mid" src="/Content/css/images/img-mid.png" alt="dot2" width="230" height="363" />
                        <img class="img-back" src="/Content/css/images/img-back.png" alt="dot3" width="195" height="304" />
                    </div>
                </div>
                <div class="pagination"></div>
                <a id="prev" href="#"></a>
                <a id="next" href="#"></a>
            </div>
        </div>
    @*</div>*@





            <!---->


        @*</div>*@
        <!--header end here-->
        <!--top nav start here-->
        <div class="top-nav">
            <nav class="navbar navbar-default">
                <div class="container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        Menu
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="hvr-bounce-to-bottom active"><a href="@Url.Action("Index", "Home")">Deutsche Bank AG</a></li>
                            <li class="hvr-bounce-to-bottom active"><a href="@Url.Action("KreditRechner", "Kredit")" class="scroll">Kredit-Rechner</a></li>
                            <li class="hvr-bounce-to-bottom"><a href="@Url.Action("FinanzielleSituation", "Kredit")" class="scroll">Finanzielle Situation</a></li>
                            <li class="form-group">
                                <form action="#" method="post">

                                    <button type="submit" class="btn btn-default" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </button>
                                    <input type="text" name="text" class="form-control" placeholder="Suchen">
                                </form>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>

    @RenderBody()


        <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 0;"> </span></a>
        <!--contact-->
        <!-- start-smoth-scrolling -->
        <script type="text/javascript" src="~/Scripts/move-top.js"></script>
        <script type="text/javascript" src="~/Scripts/easing.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();
                    $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1200);
                });
            });
        </script>

        <!-- //end-smoth-scrolling -->
        <!--script-->
        <script src="~/Scripts/modernizr.custom.97074.js"></script>
        <script src="~/Scripts/jquery.chocolat.js"></script>
        <link rel="stylesheet" href="~/Content/css/chocolat.css" type="text/css" media="all">

        <script src="~/Scripts/ion.rangeSlider.min.js"></script>

        @RenderSection("scripts", required: false)
        <!--script-->
    @*</div>*@
</body>
</html>